assets/max-demo.json
[{"id":"bc8f96dd.8798c8","type":"tab","label":"MAX Demo","disabled":false,"info":"This flow uses the [object-detector](https://developer.ibm.com/exchanges/models/all/max-object-detector/) and [image-caption-generator](https://developer.ibm.com/exchanges/models/all/max-image-caption-generator/) deep learning models from the Model Asset Exchange to display bounding boxes on an input image, then displays a generated caption. Refer to the model documentation for information about the returned messages.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector and image-caption-generator nodes have been pre-configured to use hosted model evaluation instances. We recommend using your own local or cloud instance for purposes other than evaluation."},{"id":"6c5e8e4.9d8077","type":"debug","z":"bc8f96dd.8798c8","name":"Show Caption","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1162,"y":287,"wires":[]},{"id":"7add1d85.653824","type":"object-detector","z":"bc8f96dd.8798c8","service":"c97f53e2.11bfb","method":"predict","passthrough":true,"annotated_input":true,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.1","predict_thresholdType":"str","name":"","x":356,"y":287,"wires":[["fe0ba587.5a6108","954b4fe8.211e"]]},{"id":"27b11645.25473a","type":"fileinject","z":"bc8f96dd.8798c8","name":"","x":136,"y":287,"wires":[["7add1d85.653824"]]},{"id":"9c72b875.465f88","type":"camera","z":"bc8f96dd.8798c8","name":"","x":126,"y":381,"wires":[["7add1d85.653824"]]},{"id":"88d38c66.982b9","type":"comment","z":"bc8f96dd.8798c8","name":"Display bounding boxes on an input image using the object-detector node, then pass the input to the image-caption-generator to display a generated caption.","info":"This flow uses the [object-detector](https://developer.ibm.com/exchanges/models/all/max-object-detector/) and [image-caption-generator](https://developer.ibm.com/exchanges/models/all/max-image-caption-generator/) deep learning models from the Model Asset Exchange to display bounding boxes on an input image, then displays a generated caption. Refer to the model documentation for information about the returned messages.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector and image-caption-generator nodes have been pre-configured to use hosted model evaluation instances. We recommend using your own local or cloud instance for purposes other than evaluation.","x":560,"y":40,"wires":[]},{"id":"b5740143.f50a4","type":"image","z":"bc8f96dd.8798c8","name":"","width":"600","x":948.5,"y":387,"wires":[]},{"id":"fe0ba587.5a6108","type":"function","z":"bc8f96dd.8798c8","name":"Extract Bounding Box Image Data","func":"// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}","outputs":1,"noerr":0,"x":612.5,"y":388,"wires":[["b5740143.f50a4"]]},{"id":"989beda8.303dd","type":"image-caption-generator","z":"bc8f96dd.8798c8","service":"be68a397.72502","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":897.5,"y":287,"wires":[["6c5e8e4.9d8077"]]},{"id":"954b4fe8.211e","type":"function","z":"bc8f96dd.8798c8","name":"Extract Input Image Data","func":"// if the incoming message contains the input image\n// send it to the image-caption-generator node\n// for further processing\n\nmsg.payload = msg.inputData;\nif (msg.payload) {\n    return msg;\n}","outputs":1,"noerr":0,"x":605,"y":287,"wires":[["989beda8.303dd","2a93806c.79a15"]]},{"id":"2a93806c.79a15","type":"facial-age-estimator","z":"bc8f96dd.8798c8","service":"5fa0f9a3.eeec18","method":"predict","passthrough":"","annotated_input":"","predict_body":"","predict_bodyType":"str","name":"","x":888.5,"y":176,"wires":[["7a1f2fa8.7865b"]]},{"id":"7a1f2fa8.7865b","type":"debug","z":"bc8f96dd.8798c8","name":"Show Age","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1156,"y":175,"wires":[]},{"id":"c97f53e2.11bfb","type":"object-detector-service","z":"","host":"https://max-object-detector.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"be68a397.72502","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"5fa0f9a3.eeec18","type":"facial-age-estimator-service","z":"","host":"https://max-facial-age-estimator.max.us-south.containers.appdomain.cloud","name":"cloud"}]